<div class="container">

  <h1>Restaurants</h1>

  <div class="btn btn-primary">
    <%= link_to "New restaurant", new_restaurant_path %>
  </div>

  <div>
    <% @restaurants.each do |restaurant| %>
      <div class="list-restaurant">
        <h2><%= restaurant.name %></h2>
        <p>Address: <%= restaurant.address %></p>
        <p>Phone: <%= restaurant.phone_number %></p>
        <p>Category: <%= restaurant.category %></p>
        <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>

</div>
