<div class="container">

  <div class="btn btn-primary">
    <%= link_to "Home", restaurants_path %>
  </div>
  <div class="btn btn-primary">
    <%= link_to "Add review", restaurant_path(@restaurant) %>
  </div>

  <div>
    <h1><%= @restaurant.name %></h1>
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category %></p>
  </div>

  <div>
    <h3>Reviews</h3>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-itel">
        <div class="rating d-flex justify-content-center">
          <div>
            <p><%= review.content %> >>> </p>
          </div>
          <div>
            <p>Rating: <%= review.rating %></p>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>

 <%= render "/shared/form" %>
</div>
